/* Space Grotesk */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* Tourney */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Tourney:ital,wght@0,100;0,200;0,900;1,100;1,200;1,900&display=swap');

* { margin: 0; padding: 0; }

body {
    background-image: url('media/starry-background.gif');
    background-attachment: fixed;
    max-width: 800px;
    margin: 0 auto;
    background-color: black;
    height: 100vh;
}

main {
    height: fit-content;
    min-height: 50vh;
    background: rgba(0,0,0,0.75);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px #2a3f68;
    padding: 0.5%;
}

.under-construction {
    position: absolute;
    width: 820px;
    top: 80px;

}

header {
    margin-top: 40px;
    margin-bottom: 35px;
}

h1 {
    font-family: 'Tourney', cursive;
    text-align: center;
    font-size: 51px;
    font-weight: 200;
    margin-bottom: 25px;
    text-transform: capitalize;
    
    color: #ff2e39;
}

h2 {
    font-family: 'Space Grotesk', monospace;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    margin-bottom: 5px;
}

h3 {
    font-family: 'Space Grotesk', monospace;
    font-size: 16px;
    font-weight: 500;
    color: white;
    max-width: 60ch;
    text-align: left;
    margin: 0 auto 10px auto;

}

h4 {
    font-family: 'Space Grotesk', monospace;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: 0.025em;
    color: #FFFFFF;
}

p {
    font-family: 'Space Grotesk', monospace;
    font-size: 12px;
    font-weight: 400;
    color: white;
    max-width: 60ch;
    text-align: center;
    margin: 0 auto;

}

a {
    color: #FFFFFF;
}

.testbox {
    width: 100%;
    height: 20px;
    background-color: #FF0000;
}

.album-module {
    opacity: 100%;
    display: inline-block;
    position: relative;
    width: 31%;
    height: 300px;
    margin: 1%;
}

.album-image {
    position: relative;
    margin-bottom: 5px;
    border: 1px solid #2a3f688c;
    border-radius: 2px;
    transition: box-shadow 500ms, border 200ms;
}

.album-image:hover {
    transition: box-shadow 2s, border 200ms;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 0px 10px 1px #FFFFFF;
}

.album-genre {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff2e39;
    font-family: 'Tourney', cursive;
    font-size: 12px;
    font-weight: 900;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 2px;

}

.album-text {
    /* margin-left: 5px; */
}

.foundation {
    width: 100%;
    height: 40px;
}

.pingpong-container {
    position: fixed;
    bottom: 0px;
    width: 800px;
    height: 40px;
    /* background-color: rgba(255, 0, 0, 0.5); */
}

.pingpong-gradient {
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 0px;
    left: 1.5%;
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 100%);
}

.pingpong {
    margin: 0 auto;
    position: absolute;
    bottom: -3px;
    width: 97%;
}